<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>
			
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
					
					<img src="/500.gif" alt="Internal Server Error" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
                 
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright-text">
								<h3> ©2023 Copyright <b>INVOICE MANAGEMENT</b> All rights reserved | Design &amp; Develop by  by <a href="https://cyberimpulses.com/" target="_blank"> CISS </a></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="../assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="../assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="../assets/js/script.js"></script>
		
    </body>
</html>