		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title"> 
							<span>Main</span>
						</li>
						<li class="active"> 
							<a href="/admin"><i class="fe fe-home"></i> <span>Dashboard</span></a>
						</li>

						<li class="submenu">
							<a href="#"><i class="fe fe-user-plus "></i> <span> Company </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/admin/addCompany"> Add Company </a></li>
								<li><a href="/admin/viewCompanies"> View Companies </a></li>
							</ul>
						</li>
						<!-- <li class="submenu">
							<a href="#"><i class="fe fe-user-plus "></i> <span> Customer </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/addCustomer"> Add Customer </a></li>
								<li><a href="/viewCustomer"> View Customer </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fe fe-document "></i> <span> Payment </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/addPayment"> Add Payment </a></li>
								<li><a href="/viewPayments"> View Payment </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fe fe-users"></i> <span> Sales </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/addSale"> Add Sales </a></li>
								<li><a href="/viewSales"> View Sales </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fe fe-file  "></i> <span> Invoices </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/addInvoice"> Add Invoices </a></li>
								<li><a href="/viewInvoices"> View Invoices </a></li>
							</ul>
						</li> -->
						<li> 
							<a href="/admin/userPrivacy"><i class="fe fe-user-plus "></i> <span>Privacy Policy</span></a>
						</li>
						
						<li> 
							<a href="/admin/tandc"><i class="fe fe-document "></i> <span>Terms & Condition</span></a>
						</li>
						<!-- <li> 
							<a href="/notification"><i class="fe fe-users"></i> <span>Notification</span></a>
						</li> -->
						<li class="dropdown ">
							<a href="/admin/logout" class="nav-link"><i  class="fe fe-desktop"></i>
							 <span>Logout</span></a>
					   </li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->