<!-- pdfPage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreement PDF</title>
</head>
<body>
    <h1>Agreement PDF</h1>
    <p>You can view and sign the agreement by clicking the link below:</p>
    <a href="<%= pdfLink %>" >View Agreement PDF</a>
</body>
</html>
