
<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="row">
            <div class="fully-tables">
               <div class="cards-headers">
                  <h4> <i class="fa fa-align-right" aria-hidden="true"></i> Add Terms And Condition </h4>
                </div>
                
                 <div class="faq-alls">
                 <div class="textareass">
                   <textarea id="myeditor" name="about"  class="form-control" rows="10" cols="80" Required></textarea>
                 </div>
                    <div class="add-admin" style="margin-bottom: 0px;">
                       <input type="submit" name="add" class="btn btn-primary" value="Submit" style="width:20%;margin-left: 10px;"> 
                    </div>
                  </div>

                    <div class="fulls-headings mt-4">
                     <h4><i class="fa fa-align-right" aria-hidden="true"></i>  View Terms And Condition </h4>
                   </div>
                   <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info" style="margin: 20px 00px;">
                    <thead>
                         <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Id: activate to sort column descending" style="width: 10%;" aria-sort="ascending">s.no</th>
                          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="box: activate to sort column ascending" style="width: 80%;">Terms And Condition </th>
                          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 10%;">Action</th></tr>
                      </thead>
                      <tbody>
                      <tr role="row" class="odd">
                          <td class="sorting_1">1</td>
                           <td><p style="margin-bottom: 0rem;">A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app.</p>
                           <p style="margin-bottom: 0rem;">A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app.</p>
                         <p style="margin-bottom: 0rem;">A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app.</p></td>
                       <td> <a href="#" class="btn mt-1 mb-1 btn-outline-primary"> Edit </a>
                            <a href="#" class="btn mt-1 mb-1 btn-outline-primary"> Delete</a>
                       </td>
                      </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">2</td>
                           <td><p style="margin-bottom: 0rem;">A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app.</p>
                           <p style="margin-bottom: 0rem;">A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app.</p>
                         <p style="margin-bottom: 0rem;">A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app.</p></td>
                       <td><a href="#" class="btn mt-1 mb-1 btn-outline-primary"> Edit </a>
                            <a href="#" class="btn mt-1 mb-1 btn-outline-primary"> Delete</a>
                          </td>
                      </tr>
                    </tbody>
                    </table>

                      </div>
                     </div>
                 </section>
       </div>
              
            </div>
          </div>
      <footer class="main-footer">
        <div class="footer-left">
          COPYRIGHT MIE RIDE, 2023 Design & Developed by
          <a href="https://cyberimpulses.com/">CISS</a></a>
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
  <script src="../assets/js/text-editor.js"></script>
  <!-- TEXT EDITOR CSS SCRIPT START  TEXT EDITOR CSS SCRIPT START  TEXT EDITOR CSS SCRIPT START  -->
 <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script>
  <script type="text/javascript">
        //resize CKEditor with customised height and width
     CKEDITOR.editorConfig = function (config) {
        config.language = 'es';
        config.uiColor = '#F7B42C';
        config.height = 300;
        config.toolbarCanCollapse = true;
    
    };
    CKEDITOR.replace('myeditor');
</script>
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>