<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">

      <title> Compamy Login </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
            <link rel="icon" href="/assets1/images/fevicon.png" type="image/png" />
      <link rel="stylesheet" href="/assets1/css/bootstrap.min.css" />
           <link rel="stylesheet" href="/assets1/style.css" />

      <link rel="stylesheet" href="/assets1/css/responsive.css" />
            <!-- <link rel="stylesheet" href="/assets1/css/colors.css" /> -->

      <link rel="stylesheet" href="/assets1/css/bootstrap-select.css" />

      <link rel="stylesheet" href="/assets1/css/perfect-scrollbar.css" />
      
      <link rel="stylesheet" href="/assets1/css/custom.css" />
<style>
    .account-page {
        display: block;
    height: auto;
}
.register-link {
    color: black;
}
/**/
/*-----------------
  8. Login
-----------------------*/

.account-page {
  height: 100%;
  padding: 40px 0px !important;
}
.account-title {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 40px;
  text-align: center;
}
.account-wrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  padding: 30px;
  width: 100%;
}
.account-center {
  display: table-cell;
  vertical-align: middle;
}
.account-box {
      background-color: #ffffff8a;
    border-top: 5px solid #f5a842;
    border-bottom: 5px solid #f5a842;
    margin: 0 auto;
    padding: 30px 15px;
    width: 334px;
}
.account-logo {
  margin-bottom: 20px;
  text-align: center;
}
.account-box .form-group {
  margin-bottom: 20px;
}
.account-box a {
  color: #333;
  font-size: 14px;
}
.account-box a:hover {
  color: #fb5a00;
}
.account-box .form-control {
  border: 1px solid #eaeaea;
  border-radius: 0;
  box-shadow: inherit;
  font-size: 14px;
  height: 40px;
}
.account-box textarea.form-control {
  height: 130px;
}
.account-box label {
  color: #323232;
  font-size: 14px;
  font-weight: normal;
}
.account-logo img {
  max-height: 60px;
  width: auto;
}
.account-box .account-btn {
  border-radius: 10px 0px;
  font-size: 16px;
  min-width: 150px;
  width: 100%;
  padding: 8px 30px;
  text-transform: uppercase;
}


</style>
   </head>
   <body class="inner_page login">
    
      <div class="login-bgs" style="
    background: linear-gradient(90deg, #000000bd, #00000000), url(/assets1/images/login-bg.png);background-position: center;background-repeat: no-repeat;width: 99%;background-size: cover;height: 95vh;margin: 15px 7px 14px 7px;border-radius: 20px 0px;">
    <div class="container-fluid">
           <div class="row">
<!--                <div class="col-md-4">
                   
               </div> -->
               <div class="col-md-4">
                   <div class="login-form">
                        <div class="account-page">
                            <div class="account-center">
                                <div class="account-box">

                                 
                                    <form method="post" action="/login" class="form-signin">
                                     
                                        <div class="account-logo">
                                          <a href="/"><img class="img-responsive" src="/assets1/images/logo/logo.png" alt="#" 
                                            style="margin-bottom: 20px ;"></a>
                                            <h3 style="color: rgba(177, 119, 32, 0.514);font-size: 22px;"> Invoice Management System </h3>
                                            <h5 style="color: white;">Login In To Continue </h5>
                                            
                                        </div>
                                        <% if (output === 'Logged Out !!' || output === 'Password Reset Success !'  ) { %>
                                          <p   class="success-text1"><%= output %></p>
                                        <% } else { %>
                                          <p class="error-text"><%= output %></p>
                                        <% } %>
                                        <div class="form-group">
                                            <label style="color: white;"> Email</label>
                                            <input name="email" type="email" autofocus="" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label style="color: white;"> Password</label>
                                            <input name="password" type="password" class="form-control">
                                        </div>
                                        <div class="form-group text-center">
                                            <a href="/ForgotPassword" style="color: white;">Forgot your password?</a>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary account-btn">Login</button>
                                        </div>
                                        <!-- <div class="text-center register-link" style="color: white;">
                                            Don’t have an account? <a href="#" style="color: white;"> Register Now</a>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                   </div>
               </div>
                <div class="col-md-8">
                   
               </div>
           </div>
       </div>
       </div>


      <!-- jQuery -->
      <!-- <script src="/assets1/js/jquery.min.js"></script> -->
      <script src="/assets1/js/popper.min.js"></script>
      <!-- <script src="/assets1/js/bootstrap.min.js"></script> -->
      <script src="/assets1/js/animate.js"></script>
      <script src="/assets1/js/bootstrap-select.js"></script>
      <script src="/assets1/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <script src="/assets1/js/custom.js"></script>

      	
		<!-- jQuery -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
      <!--  -->
      <script>
  const pass_field = document.querySelector(".pass-key");
const showBtn = document.querySelector(".show");
showBtn.addEventListener("click", function() {
  if (pass_field.type === "password") {
    pass_field.type = "text";
    showBtn.textContent = "HIDE";
    showBtn.style.color = "#3498db";
  } else {
    pass_field.type = "password";
    showBtn.textContent = "SHOW";
    showBtn.style.color = "#222";
  }
});



</script>
   </body>
</html>