  <!-- Sidebar Navbar   -->
  <nav id="sidebar">
   <div class="sidebar_blog_1">
      <div class="sidebar-header">
         <div class="logo_section">
            <a href="/"><img class="logo_icon img-responsive" src="/assets1/images/logo/logo_icon.png" alt="#" /></a>
         </div>
      </div>
      <div class="sidebar_user_info">
         <div class="icon_setting"></div>
         <div class="user_profle_side">
            <div class="user_img">
               <a href="/"><img class="img-responsive" src="/assets1/images/logo/logo.png" alt="#"></a>
            </div>
         </div>
      </div>
   </div>
   <div class="sidebar_blog_2">
      <h4>General</h4>
      <ul class="list-unstyled components">
         <li class="active">
            <a href="/">
               <i class="fa fa-dashboard yellow_color"></i> 
               <span>Dashboard</span>
            </a>
        </li> 
       

        <li>
         <a href="#element1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapse"><i class="fa fa-diamond purple_color"></i> <span>Products</span></a>
         <ul class="collapse list-unstyled" id="element1">
            <li><a href="/addProduct"> <span>Add Product</span></a></li>
            <li><a href="/viewProducts"> <span>View Products  </span></a></li>
         </ul>
      </li>

      
      <li>
         <a href="#element11" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapse"><i class="fa fa-shopping-cart green_color "></i>  <span>Services</span></a>
         <ul class="collapse list-unstyled" id="element11">
            <li><a href="/addService"> <span>Add Service</span></a></li>
            <li><a href="/viewServices"> <span>View Services  </span></a></li>
         </ul>
      </li>
        

         <li>
            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapse"><i class="fa fa-user red_color"></i> <span>Customer</span></a>
            <ul class="collapse list-unstyled" id="element">
               <li><a href="/addCustomer"> <span>Add Customer</span></a></li>
               <li><a href="/viewCustomers"> <span>View  All Customers </span></a></li>
            </ul>
         </li>

         <li>
            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Payment</span></a>
            <ul class="collapse list-unstyled" id="apps">
               <li><a href="/addPayment"> <span>Add Payment</span></a></li>
               <li><a href="/viewPayments"> <span>View All Payment </span></a></li>
            </ul>
         </li>

            <!-- <li>
            <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Sales</span></a>
            <ul class="collapse list-unstyled" id="additional_page">
               <li>
                  <a href="/addSales"> <span>Add Sales Mgmt</span></a>
               </li>
               <li>
                  <a href="/viewSales"> <span>View Sales Mgmt</span></a>
               </li>
            </ul>
         </li> -->
            <li>
            <a href="#invoices_mgmt" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Invoice</span></a>
            <ul class="collapse list-unstyled" id="invoices_mgmt">
               <li><a href="/addInvoice"> <span>Add Invoice</span></a></li>
               <li><a href="/viewInvoices"> <span>View All Invoices </span></a></li>
            </ul>
         </li>

         <li><a href="/AgingReport"><i class="fa fa-table purple_color2"></i> <span> Aging Report </span></a></li>

          <li><a href="/userPrivacy"><i class="fa fa-table purple_color2"></i> <span>Privacy policy</span></a></li>

         <li><a href="/tandc"><i class="fa fa-briefcase blue1_color"></i> <span>Terms_condition</span></a></li>

         <li><a href="/faq"><i class="fa fa-clock-o orange_color"></i> <span>Faq</span></a></li>
<!-- 
         <li>
            <a href="/Notification">
            <i class="fa fa-paper-plane red_color"></i> <span>Notification</span></a>
         </li> -->
         <li><a href="/companyLicence"><i class="fa fa-cog yellow_color"></i> <span>Company Licence</span></a></li>

         <li><a href="/logout"><i class="fas fa-sign-out red_color"></i> <span>Logout </span></a></li>
      </ul>
   </div>
</nav>
<!-- end sidebar -->